<%- include('partials/header')%>
    <main>
        <h1><%= title %></h1>
        <p>Here are a few of our projects:</p>
        <ul>
            <% projects.forEach(project => { %>
            <li>
                <%= new Date(project.date).toLocaleDateString('en-US', { year: 'numeric', month: 'short', day: 'numeric' }) %>:
                <%= project.title %>
                
                (<%= project.organization_name %>)
            </li>
            <% }) %>
        </ul>
    </main>
<%- include('partials/footer')%>