<%- include('partials/header') %>

<main>
    <h1><%= title %></h1>

    <p>Our mission is to promote service across the world by connecting volunteers with service opportunities in their community.</p>
    
    <% if (projects.length === 0) { %>
        <p>No projects found.</p>
    <% } else { %>
        <ul>
            <% projects.forEach(project => { %>
                <%
                    const date = new Date(project.date);
                    const formattedDate = date.toLocaleDateString('en-US', {
                        year: 'numeric',
                        month: 'long',
                        day: 'numeric'
                    });
                %>
                <li>
                    <%= formattedDate %>: <%= project.title %> (<%= project.organization_name %>)
                </li>
            <% }) %>
        </ul>
    <% } %>


</main>

<%- include('partials/footer') %>